// $color1: #314455;
// $color2: #c96567;
// $color3: #644e5b;
// $color4: #9e5a63;
// $color5: #97aabd;

// $color1: #1a1a1d;
// $color2: #950740;
// $color3: #c3073f;
// $color4: #6f2232;
// $color5: #4e4e50;
// $textColor: #4e4e50;

$color1: #d9b08c; //background
$color2: #ffcb9a; //Bar + nav button color
$color3: #2c3531; //background color
$color4: #116466; //border color
$color5: #d1e8e2; //textColor
$color5rgb: 197, 198, 199;
// $textColor: #d1e8e2;

$backgroundColor: #eae7dc;
$secondaryBackgroundColor: #d8c3a5;
$tertiaryBackgroundColor: #fff5e7;
$textColor: #e85a4f;
$secondaryTextColor: #707070;
$tertiaryTextColor: #999999;

// $textColor: #ffffff;
