// $color1: #314455;
// $color2: #c96567;
// $color3: #644e5b;
// $color4: #9e5a63;
// $color5: #97aabd;

// $color1: #1a1a1d;
// $color2: #950740;
// $color3: #c3073f;
// $color4: #6f2232;
// $color5: #4e4e50;
// $textColor: #4e4e50;

$color1: #0b0c10;
$color2: #66fcf1;
$color3: #1f2833;
$color4: #45a29e;
$color5: #c5c6c7;
$textColor: #c5c6c7;

// $textColor: #ffffff;
