@import "../styles/color";
@import "../styles/layout";

#about-document{
    min-height: 100vh;
    display: grid;
    grid-template-rows: 7vh 10vh 1vh 89vh;
    grid-template-areas:    '.'
                            'heading'
                            'bar'
                            'about-me-content';
}

#heading {
    grid-area: heading;
    @include heading-style;
}

#bar {
    grid-area: bar;
    @include bar-style;
}

#about-me-content {
    grid-area: about-me-content;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 49% 1% 50%;
    grid-template-areas:   'my-history . proficiency';
}

#my-history {
    grid-area: my-history;
    @include center-content-horizontally;
    display: grid;
    grid-template-rows: 10% 45% 1% auto;
    grid-template-columns: auto;
    grid-template-areas:    '.'
                            'my-photo'
                            '.'
                            'my-history-info';
}

#my-photo {
    grid-area: my-photo;
}

#my-history-info {
    grid-area: my-history-info;
    margin-left: 15vw;
}

#photo {
    position: absolute;
    left: 10vw;
    height: 300px;
    width: 250px;
}

#cover-photo {
    position: absolute;
    left: 10vw;
    height: 300px;
    width: 250px;
    color: red;
}

#proficiency {
    grid-area: proficiency;
    @include center-content;
}

#all-bars {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.subject-bar {
    height: 1vh;
    width: 60%;
    border: 1px solid $color4;
}

#html-bar, #css-bar {
    height: 100%;
    width: 95%;
    background-color: $color3;
}

#scss-sass-bar {
    height: 100%;
    width: 75%;
    background-color: $color3;
}

#js-bar, #angular10-bar {
    height: 100%;
    width: 90%;
    background-color: $color3;
}

#nodejs-bar, #threejs-bar {
    height: 100%;
    width: 40%;
    background-color: $color3;
}

.subject-percent {
    margin-bottom: 2vh;
}