@import "../styles/color";
@import "../styles/layout";

#loading {
    position: absolute;
    top: 0vh;
    z-index: 100;
    animation: loading-animation 1s 5s forwards ease;
}

@keyframes loading-animation {
    100%{ opacity: 0; visibility: hidden;}
}

#about-document{
    min-height: 100vh;
    @include center-content-vertically;
    font-family: 'Source Code Pro', monospace;
    // background-color: $backgroundColor;
    background-image: url('../../assets/background2.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: auto; 
    display: grid;
    grid-template-rows: 20vh 5vh 1vh 74vh;
    grid-auto-columns: auto;
    grid-template-areas:    '.'
                            'about-heading'
                            '.'
                            'about-body';
}

#about-heading {
    grid-area: about-heading;
    @include heading-style;
}

#document-title {
    grid-area: title;
    @include center-content-vertically;
}

#contact-me {
    grid-area: contact-me;
    float: right;
    margin-right: 5vw;
    z-index: 2;
}

#about-body {
    grid-area: about-body;
    height: 100%;
    width: 100%;
    overflow-y: auto; 
    display: grid;
    grid-template-columns: 50% 10% auto;
    grid-template-rows: auto;
    grid-template-areas: 'about-me-text . about-me-photo';
}

#about-me-text {
    grid-area: about-me-text;
    overflow: auto;
    color: $secondaryTextColor;
    background-color: rgba(#0c042e, 0.5);
    border-radius: 5px;
    font-size: 1em;
    margin: 2vh 7vw;
    padding: 1vh 1vw;
}

#about-me-photo {
    grid-area: about-me-photo;
    display: grid;
    grid-template-rows: 5vh 50% auto;
    grid-template-areas:    '.'
                            'photo'
                            '.';
}

#photo {
    grid-area: photo;
    position: relative;
    display: inline-block;
    height: 250px;
    width: 250px;
}
  
#me-photo { 
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    transform: translateZ(-10px);
}

#photo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background-color: rgba($textColor, 1);
    opacity: 0.1;
    z-index: 1;
    transition: background-color 0.1s ease-in-out;
}
  
#photo:hover::before {
    background-color: rgba($textColor, 0);
}

@media only screen and (max-width: 700px) {  
    #about-body {
        grid-template-columns: 60% 5% auto;
    }

    #about-me-text {
        margin: 3vh 3vw;
    }

    #photo {
        height: 200px;
        width: 200px;
    }

    #me-photo {
        height: 200px;
        width: 200px;
    }
}

@media only screen and (max-width: 600px) {
    #photo {
        height: 150px;
        width: 150px;
    }

    #me-photo {
        height: 150px;
        width: 150px;
    }
}

@media only screen and (max-width: 500px) {
    #about-body {
        grid-template-columns: auto;
        grid-template-rows: 60% 5% auto;
        grid-template-areas:    'about-me-text' 
                                '.' 
                                'about-me-photo';
    }

    #about-me-photo {
        @include center-content;
        grid-template-rows: 0vh 90% auto;
        grid-template-areas:    '.'
                                'photo'
                                '.';
    }
}

@media only screen and(max-width: 260px) {
    #about-document {
        display: none;
    }
}