<app-navigate></app-navigate>
<app-loading id="loading"></app-loading>
<div id="about-document">
    <div id="about-me-content">
        <div id="about-me-text">
            <div id="heading">About me</div>
            <div id="text">
                I am a Front End Web Developer. I have experience and knowledge in Front End Developing skills like HTML, CSS, Javascript, Angular. I also know SASS/SCSS, Node.js, and Three.js.
                <br><br>
                I am well organized, creative, flexible and open-minded person. I have worked both independently as well as in a team. I have led teams before. I spend time with my team mates to understand their strengths and weaknesses. As team lead I divide work as per each persons specialization in the team. I provide guidance whenever it is necessary but also welcome their thoughts and approaches towards work. Working independently gives me liberty to be focused on my work and stick to one singular approach towards work. I do not need motivation for the work I love. I am encouraged by my curiosities and, that keeps me on my toes.
            </div>
        </div>
        <div id="about-me-photo">
            <div id="photo">
                <img id="me-photo" height="250" width="250" src="../assets/me.png">
            </div>
        </div>
    </div>
    <!-- <div id="bar"></div> -->
    <!-- <div id="about-me-content">
        <div id="my-history" data-aos="fade-left" data-aos-delay="500" data-aos-duration="1000">
            <div id="my-photo"><img id="photo" src="../../assets/me.png"></div>
            <div id="my-history-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
        </div>
        <div id="proficiency">
            <div id="all-bars">
                <div class="bar" data-aos="fade-left" data-aos-delay="100" data-aos-duration="1000">
                    <div class="subject-bar"><div id="html-bar"></div></div>
                    <div class="subject-name">HTML</div>
                    <div class="subject-percent">95%</div>
                </div>
                <div class="bar" data-aos="fade-left" data-aos-delay="150" data-aos-duration="1000">
                    <div class="subject-bar"><div id="css-bar"></div></div>
                    <div class="subject-name">CSS</div>
                    <div class="subject-percent">95%</div>
                </div>
                <div class="bar" data-aos="fade-left" data-aos-delay="200" data-aos-duration="1000">
                    <div class="subject-bar"><div id="scss-sass-bar"></div></div>
                    <div class="subject-name">SCSS / SASS</div>
                    <div class="subject-percent">75%</div>
                </div>
                <div class="bar" data-aos="fade-left" data-aos-delay="250" data-aos-duration="1000">
                    <div class="subject-bar"><div id="js-bar"></div></div>
                    <div class="subject-name">Javascript (ES+6)</div>
                    <div class="subject-percent">90%</div>
                </div>
                <div class="bar" data-aos="fade-left" data-aos-delay="300" data-aos-duration="1000">
                    <div class="subject-bar"><div id="angular10-bar"></div></div>
                    <div class="subject-name">Angular 10</div>
                    <div class="subject-percent">90%</div>
                </div>
                <div class="bar" data-aos="fade-left" data-aos-delay="350" data-aos-duration="1000">
                    <div class="subject-bar"><div id="nodejs-bar"></div></div>
                    <div class="subject-name">Node.js</div>
                    <div class="subject-percent">40%</div>
                </div>
                <div class="bar" data-aos="fade-left" data-aos-delay="400" data-aos-duration="1000">
                    <div class="subject-bar"><div id="threejs-bar"></div></div>
                    <div class="subject-name">Three.js</div>
                    <div class="subject-percent">40%</div>
                </div>
            </div>
        </div>
    </div> -->
</div>
