<app-navigate></app-navigate>
<app-loading id="loading"></app-loading>
<div id="about-document">
    <div id="about-heading"><div id="document-title">About Me</div><app-contact id="contact-me"></app-contact></div>
    <div id="about-body">
        <div id="about-me-text">
            I am a Front End Web Developer. I have experience and knowledge in Front End Developing skills like HTML, CSS, Javascript, Angular. I also know SASS/SCSS, Node.js, and Three.js.
            <br><br>
            I am well organized, creative, flexible and open-minded person. I have worked both independently as well as in a team. I have led teams before. I spend time with my team mates to understand their strengths and weaknesses. As team lead I divide work as per each persons specialization in the team. I provide guidance whenever it is necessary but also welcome their thoughts and approaches towards work. Working independently gives me liberty to be focused on my work and stick to one singular approach towards work. I do not need motivation for the work I love. I am encouraged by my curiosities and, that keeps me on my toes.
        </div>
        <div id="about-me-photo">
            <div id="photo">
                <img id="me-photo" height="250" width="250" src="../assets/me.png">
            </div>
        </div>
    </div>
</div>
