<app-navigate></app-navigate>
<app-loading id="loading"></app-loading>
<div id="projects-document">
    <div id="projects-heading"><div id="document-title">My Projects</div><app-contact id="contact-me"></app-contact></div>
    <div id="projects">
        <div id="project-change">
            <div><button id="next-button" class="change-button" mat-button (click) = "nextProject()"><mat-icon>expand_more</mat-icon> Next</button></div>
            <div><button id="previous-button" class="change-button" mat-button (click) = "previousProject()"><mat-icon>expand_less</mat-icon> Previous</button></div>
        </div>
        <div id="project-list">
            <div id="circle-div">
                <div id="project-circle">
                    <img id="project-img0" class="project-image" src="">
                    <img id="project-img1" class="project-image" src="">
                    <img id="project-img2" class="project-image" src="">
                    <img id="project-img3" class="project-image" src="">
                </div>
            </div>
            <div id="description-div">
                <div id="project-description0" class="project-description">
                    <div class="project-title"><div id="project-title0"></div><div id="project-links0"><a><mat-icon>code</mat-icon></a><a><mat-icon>link</mat-icon></a></div></div>
                    <br>
                    <div id="project-text0"></div>
                </div>
                <div id="project-description1" class="project-description">
                    <div id="project-title1"></div>
                    <br>
                    <div id="project-text1"></div>
                </div>
                <div id="project-description2" class="project-description">
                    <div id="project-title2"></div>
                    <br>
                    <div id="project-text2"></div>
                </div>
                <div id="project-description3" class="project-description">
                    <div id="project-title3"></div>
                    <br>
                    <div id="project-text3"></div>
                </div>
            </div>
        </div>
        
    </div>
</div>
