@import "../styles/color";
@import "../styles/layout";

#projects-document {
    min-height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 7vh 10vh 1vh 3vh auto;
    grid-auto-columns: auto;
    grid-template-areas:    '.'
                            'projects-heading'
                            'bar'
                            '.'
                            'projects-list';
}

#projects-heading {
    grid-area: projects-heading;
    @include heading-style;
}

#bar {
    grid-area: bar;
    @include bar-style;
}

#projects-list {
    grid-area: projects-list;
    display: flex;
    flex-direction: row;
}

.project {
    height: 100%;
    width: 25%;
    border: 1px solid $color3; 
    transition: width 0.7s ease-in-out;
}

#tutorial-project {
    background-image: url('../../assets/tutorial.png');
    background-repeat: no-repeat;
}

#aditi-project {
    background-image: url('../../assets/aditi.png');
    background-repeat: no-repeat;
}

#animations-project {
    background-image: url('../../assets/tutorial.png');
    background-repeat: no-repeat;
}

#portfolio-project {
    background-image: url('../../assets/portfolio.png');
    background-repeat: no-repeat;
}

.project:hover {
    width: 75%;
}

.project-info {
    height: 100%;
    width: 100%;
    background-color: rgba($color5, 0.7);
    font-size: 2em;
    transition: all 0.7s ease-in-out;
}

.project-info:hover {
    background-color: rgba($color4, 0.8);
}

.project-name {
    position: relative;
    top: 40%;
    text-align: center;
    font-size: 1.1em;
    color: $color3;
    transition: all 0.5s ease-in;
}

.project-info:hover .project-name {
    position: relative;
    top: 7%;
    margin-left: 10%;
    color: $color5;
    text-align: left;
}

.project-bar {
    width: 0%;
    position: relative;
    top: 9%;
    border-top: 1px solid $color1;
    transition: all 0.5s 0.5s ease-in;
}

.project-info:hover .project-bar {
    width: 70%;
}

.project-details {
    opacity: 0;
    margin: 10% 10% 5% 10%;
}

.project-info:hover .project-details {
    animation: project-details-text-animation 0.5s 0.5s ease-in forwards;
}

@keyframes project-details-text-animation {
    100% {
        opacity: 1;
        transform: translateY(15vh);
    }
}

@media only screen and (max-width: 650px) {

    #projects-document {
        min-height: 140vh;
    }

    #projects-heading {
        font-size: 2em;
    }

    #projects-list {
        flex-direction: column;
    }
    
    .project {
        height: 25%;
        width: 99%;
        transition: all 0.7s ease-in-out;
    }
    
    .project:hover {
        width: 99%;
        height: 85%;
    }
    
    .project-details {
        font-size: 0.5em;
    }
    
    @keyframes project-details-text-animation {
        100% {
            opacity: 1;
            transform: translateY(5vh);
        }
    }
}

// @media only screen and (max-width: 410px) {

//     #projects-document {
//         min-height: 210vh;
//     }

//     .project {
//         height: 15%;
//         width: 100%;
//         transition: height 0.7s ease-in-out;
//     }
    
//     .project:hover {
//         width: 100%;
//         height: 85%;
//     }
// }

@media only screen and (max-width: 320px) {

    #projects-document {
        min-height: 150vh;
    }

    #projects-heading {
        font-size: 1.5em;
    }
    
    .project {
        height: 25%;
        width: 99%;
        transition: all 0.7s ease-in-out;
    }
    
    .project:hover {
        width: 99%;
        height: 85%;
    }
    
    .project-details {
        font-size: 0.4em;
    }
    
    @keyframes project-details-text-animation {
        100% {
            opacity: 1;
            transform: translateY(7vh);
        }
    }
}

// @media only screen and (max-width: 290px) {

//     #projects-document {
//         min-height: 240vh;
//     }
// }

// @media only screen and (max-width: 260px) {

//     #projects-document {
//         min-height: 270vh;
//     }
// }

// @media only screen and (max-width: 260px) {

//     #projects-document {
//         min-height: 250vh;
//     }
// }