@import "../styles/color";
@import "../styles/layout";

#loading {
    position: absolute;
    top: 0vh;
    z-index: 3;
    animation: loading-animation 1s 5s forwards;
}

@keyframes loading-animation {
    100%{ opacity: 0; visibility: hidden;}
}

#projects-document {
    height: 100vh;
    width: 100vw;
    font-family: 'Source Code Pro', monospace;
    background-image: url('../../assets/background2.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    display: grid;
    grid-template-rows: 20vh 5vh 1vh 74vh;
    grid-auto-columns: auto;
    grid-template-areas:    '.'
                            'projects-heading'
                            '.'
                            'projects';
}

#projects-heading {
    grid-area: projects-heading;
    @include heading-style;
}

#document-title {
    grid-area: title;
    @include center-content-vertically;
}

#contact-me {
    grid-area: contact-me;
    float: right;
    margin-right: 5vw;
    z-index: 2;
}

#projects {
    grid-area: projects;
    display: grid;
    grid-template-rows: 10% 90%;
    grid-auto-columns: auto;
    grid-template-areas:    'project-change'
                            'project-list';
}

#project-change {
    grid-area: project-change;
    padding-left: 5vw;
    z-index: 2;
}

.change-button {
    float: left;
    background-color: transparent;
    @include center-content;
    color: $textColor;
}

.change-icon {
    font-size: 3em;
}

#project-list {
    grid-area: project-list;
}

#circle-div {
    display: block;
    height: 100%;
    width: 100%;
    @include center-content-horizontally;
}

#project-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;    
    width: 25vh;
    border-radius: 50%;
    z-index: 1;
}

.project-image {
    position: absolute;
    border-radius: 50%;
    height: 25vh;
    width: 25vh;
    z-index: 2;
    border: 2px solid $textColor;
    transform-origin: left center;
}

#description-div {
    height: 100%;
    width: 100%;
}

.project-description {
    position: absolute;
    top: 60vh;
    left: 10%;
    height: 35vh;
    width: 80%;
    border-radius: 5px;
    padding: 2vh;
    background-color: rgba(#0c042e, 0.8);
    text-align: left;
    color: $secondaryTextColor;
    z-index: 1;
    opacity: 1;
    overflow: auto;
    transform-origin: left center;
}

.project-title {
    color: $tertiaryTextColor;
    letter-spacing: 2px;
}

a {
    text-decoration: none;
    color: $tertiaryTextColor;
    padding-right: 3px;
}

@media only screen and(max-width: 260px) {
    #projects-document {
        display: none;
    }
}