@import "../styles/color";
@import "../styles/layout";

#contact-buttons {
    height: 5vh;
    width: 20vw;
    position: relative;
    top: 0;
    left: 0;
    background-color: $secondaryBackgroundColor;
    color: $textColor;
    border-radius: 5px;
    @include center-content;
    flex-direction: row;
    z-index: 0;
    transition: all 0.5s ease;

    &::after {
        content: 'Contact me';
        position: absolute;
        top: 0;
        left: 0;
        @include center-content;
        height: 5vh;
        width: 20vw;
        z-index: 1;
        color: $backgroundColor;
        font-size: 0.7em;
        border-radius: 5px;
        padding: auto;
        background-color: $textColor;
        transition: all 0.5s ease-in-out;
    }

    &:hover::after {
        transform: translateY(5vh);
    }

    @media only screen and (max-width: 900px){
        &::after {
            font-size: 0.6em;
        }
    }

    @media only screen and (max-width: 800px){
        &::after {
            font-size: 0.5em;
        }
    }

    @media only screen and (max-width: 650px){
        &::after {
            font-size: 0.4em;
        }
    }

    @media only screen and (max-width: 450px){
        &::after {
            font-size: 0.3em;
        }
    }

    @media only screen and (max-width: 350px){
        &::after {
            font-size: 0.2em;
        }
    }
}

mat-icon {
    margin: 0px auto;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: $textColor;
    margin: 0px auto;
}