<app-navigate></app-navigate>
<div id="contact-document">
    <div id="contact-heading">Contact Me</div>
    <div id="contact-info">
        <div class="envelop" id="email" (click)="openEnvelop('email')">
            <div class="envelop-back"></div>
            <div class="card" id="email-card">Email</div>
            <div class="card-fold-1"></div>
            <div class="card-fold-2"></div>
            <div class="letter" id="email-letter"></div>
            <div class="card-top" id="email-top"></div>
        </div>
        <div class="envelop" id="call" (click)="openEnvelop('call')">
            <div class="envelop-back"></div>
            <div class="card" id="call-card">Call</div>
            <div class="card-fold-1"></div>
            <div class="card-fold-2"></div>
            <div class="letter" id="call-letter"></div>
            <div class="card-top" id="call-top"></div>
        </div>
    </div>
</div>
