@import "../styles/color";
@import "../styles/layout";

#work-document {
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 7vh 10vh 1vh 2vh 80vh;
    grid-template-areas:    '.'
                            'work-heading'
                            'bar'
                            '.'
                            'work-information';
}

#work-heading {
    grid-area: work-heading;
    @include heading-style;
}

#bar {
    grid-area: bar;
    @include bar-style;
}

#work-information {
    grid-area: work-information;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.work {
    height: 100%;
    width: 25vw;
    border: 1px solid $color4;
    border-radius: 10px;
    @include box-layout-outline;
    display: grid;
    grid-template-rows: 20vh 5vh auto;
    grid-template-areas:    'work-photo'
                            '.'
                            'work-description';
}

// #rimokon {
//     transform: translateY(-100vh);
//     animation: work-card-animation 0.75s forwards ease-in-out;
// }

// #ambii {
//     transform: translateY(-100vh);
//     animation: work-card-animation 0.75s 0.3s forwards ease-in-out;
// }

// #lookingbus {
//     transform: translateY(-100vh);
//     animation: work-card-animation 0.75s 0.7s forwards ease-in-out;
// }

.work-photo { 
    grid-area: work-photo;
    background-color: $textColor;
    display: flex;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#ambii-photo, #rimokon-photo, #lookingbus-photo {
    height: 100%;
}

.work-description {
    grid-area: work-description;
    align-items: center;
    color: $textColor;
    padding: 10px;
    display: grid;
    grid-template-rows: 4vh 1vh 2vh 1vh 2vh 1vh auto;
    grid-template-areas:    'company-heading'
                            '.'
                            'company-duration'
                            '.'
                            'company-position'
                            '.'
                            'company-work-description';
}

.company-heading {
    grid-area: company-heading;
    font-size: 2em;
}

.company-duration {
    grid-area: company-duration;
    font-size: 0.8em;
}

.company-position {
    grid-area: company-position;
    font-size: 0.8em;
}

.company-work-description {
    grid-area: company-work-description;
    font-size: 1em;
}

@media only screen and(max-width: 910px) {

    #work-document {
        height: 130vh;
    }

    #work-information {
        flex-direction: column;
        align-items: center;
    }

    .work {
        height: 30%;
        width: 90%;
        margin-bottom: 50px;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 35% 5% auto;
        grid-template-areas:    'work-photo . work-description';
    }

    #rimokon {
        transform: translateX(-100vw);
        animation: work-card-mobile-animation 0.75s forwards ease-in-out;
    }
    
    #ambii {
        transform: translateX(-100vw);
        animation: work-card-mobile-animation 0.75s 0.3s forwards ease-in-out;
    }
    
    #lookingbus {
        transform: translateX(-100vw);
        animation: work-card-mobile-animation 0.75s 0.7s forwards ease-in-out;
    }

}

@media only screen and(max-width: 700px) {
    #work-document {
        height: 200vh;
    }

    #work-information {
        flex-direction: column;
        align-items: center;
    }

    .work {
        height: 50%;
        width: 80%;
        margin-bottom: 50px;
        padding-right: 20px;
        display: grid;
        grid-template-rows: 20vh 5vh auto;
        grid-template-columns: auto;
        grid-template-areas:    'work-photo'
                                '.'
                                'work-description';
    }

    #rimokon {
        transform: translateX(-100vw);
        animation: work-card-mobile-animation 0.75s forwards ease-in-out;
    }
    
    #ambii {
        transform: translateX(-100vw);
        animation: work-card-mobile-animation 0.75s 0.3s forwards ease-in-out;
    }
    
    #lookingbus {
        transform: translateX(-100vw);
        animation: work-card-mobile-animation 0.75s 0.7s forwards ease-in-out;
    }

    .work-photo{
        width: 100%;
    }

    .work-description {
        width: 100%;
    }
}

@media only screen and(max-width: 400px) {
    #work-heading {
        font-size: 3em;
    }

    #work-document {
        height: 220vh;
        grid-template-rows: 7% 3% 1% 2% 86%;
    }
}

@media only screen and(max-width: 280px) {
    #work-heading {
        font-size: 2em;
    }
}