<app-navigate></app-navigate>
<app-loading id="loading"></app-loading>
<div id="work-document">
    <div id="work-content">
        <div id="work-heading"><div id="document-title">My Experience</div><app-contact id="contact-me"></app-contact></div>
        <div id="work-experience">
            <div id="work-part-1">
                <div class="work-card" id="rimokon-card">
                    <div class="company-heading">Rimokon</div>
                    <div class="company-position">Software Engineer Intern</div>
                    <div class="company-experience">
                        - I landed my first summer internship as an Android developer at Rimokon. <br>
                        - I worked on Android Studio to make a Java-based Android mobile device to manipulate the camera. Along with the Android camera, I also worked on Android UI. I worked independently in this role and under the Head of Software Engineering of the company.
                    </div>
                </div>
                <div class="work-card" id="lookingbus-card">
                    <div class="company-heading">LookingBus</div>
                    <div class="company-position">iOS Mobile Developer</div>
                    <div class="company-experience">
                        - I worked as an iOS Swift Developer. <br>
                        - I worked with both Google Maps and iOS MapKit and determined user location and destination location on Maps. I made API calls to get the route information between the two locations. <br>
                        - I also worked with BLE (Bluetooth Low Energy) scanner. The mobile app scanned for all the detectable nearby BlueTooth devices. Next, I filtered the BLE devices of LookingBus, connected with them, and then work with the services of peripheral devices.<br>
                    </div>
                </div>
            </div>
            <div id="time-line-svg">
                <svg id="timeline-horizontal" xmlns="http://www.w3.org/2000/svg" width="1172.477" height="111.824" viewBox="0 0 1172.477 111.824">
                    <g id="" data-name="Group 398" transform="translate(-75.365 -354.722)">
                        <path id="timeline" data-name="Path 624" d="M-756.635-1354h246.419s-.054-33.277,0-44.119,5.411-10.668,5.576,0,0,44.119,0,44.119h52.593s-.09,30.335,0,45.127,6.375,14.324,6.135,0,0-45.127,0-45.127H124.042s.261-32.518,0-44.119,6.527-11.489,6.457,0,0,44.119,0,44.119H415.842" transform="translate(832 1763)" fill="none" stroke="#6f9e88" stroke-width="3"/>
                        <text id="Jun_2017" data-name="Jun 2017" transform="translate(220.5 389.5)" fill="none" stroke="#c9e4d7" stroke-width="1" font-size="18" font-family="CourierNewPSMT, Courier New"><tspan x="0" y="0">Jun 2017</tspan></text>
                        <text id="Sept_2017" data-name="Sept 2017" transform="translate(393.5 445.5)" fill="none" stroke="#c9e4d7" stroke-width="1" font-size="18" font-family="CourierNewPSMT, Courier New"><tspan x="0" y="0">Sept 2017</tspan></text>
                        <text id="Aug_2019" data-name="Aug 2019" transform="translate(968.5 389.5)" fill="none" stroke="#c9e4d7" stroke-width="1" font-size="18" font-family="CourierNewPSMT, Courier New"><tspan x="0" y="0">Aug 2019</tspan></text>
                    </g>
                </svg>
                <svg id="timeline-vertical" xmlns="http://www.w3.org/2000/svg" width="204.262" height="812" viewBox="0 0 204.262 812">
                    <g id="" data-name="Group 398" transform="translate(521 -63.365) rotate(90)">
                        <path id="timeline" data-name="Path 624" d="M-756.635-1354h170.658s-.037-33.277,0-44.119,3.747-10.668,3.862,0,0,44.119,0,44.119h36.424s-.062,30.335,0,45.127,4.415,14.324,4.249,0,0-45.127,0-45.127h394.722s.181-32.518,0-44.119,4.52-11.489,4.472,0,0,44.119,0,44.119H55.365" transform="translate(820 1769)" fill="none" stroke="#6f9e88" stroke-width="3"/>
                        <text id="Jun_2017" data-name="Jun 2017" transform="translate(223.863 404.738) rotate(-90)" fill="none" stroke="#c9e4d7" stroke-width="1" font-size="18" font-family="CourierNewPSMT, Courier New"><tspan x="0" y="0">Jun 2017</tspan></text>
                        <text id="Sept_2017" data-name="Sept 2017" transform="translate(265.573 520) rotate(-90)" fill="none" stroke="#c9e4d7" stroke-width="1" font-size="18" font-family="CourierNewPSMT, Courier New"><tspan x="0" y="0">Sept 2017</tspan></text>
                        <text id="Aug_2019" data-name="Aug 2019" transform="translate(661.919 410.5) rotate(-90)" fill="none" stroke="#c9e4d7" stroke-width="1" font-size="18" font-family="CourierNewPSMT, Courier New"><tspan x="0" y="0">Aug 2019</tspan></text>
                    </g>
                </svg>
            </div>
            <div id="work-part-2">
                <div class="work-card" id="ambii-card">
                    <div class="company-heading">Ambii</div>
                    <div class="company-position">Software Developer</div>
                    <div class="company-experience">
                        - I worked on multiple projects at Ambii in one and a half years.<br>
                        - First, I worked as an Android Developer as well as led the team for the same. I worked on Android UI along with; working with Youtube API. <br>
                        - Second, I worked on Ambii's Angular website. It was primarily involved with working on HTML, CSS, and Javascript.<br>
                        - Third, I worked on developing an AI recommendation system as well as led the team for the same. I mainly worked on making a Node.js server to get Spotify data of active users.<br> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
