@import "../styles/color";
@import "../styles/layout";

#work-document {
    height: 100vh;
    width: 100vw;
    @include center-content-vertically;
    background-color: $backgroundColor;
    overflow: auto; 
    display: grid;
    grid-template-rows: 20% auto 15%;
    grid-template-areas:    '.'
                            'work-content'
                            '.';
}

#work-content {
    grid-area: work-content;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 5% 5% auto;
    grid-template-areas:    'work-heading'
                            '.'
                            'work-experience';
}

#work-heading {
    grid-area: work-heading;
    @include heading-style;
    @include center-content-vertically;
}

#work-experience {
    grid-area: work-experience;
    display: grid;
    grid-template-rows: 40% 20% 40%;
    grid-template-columns: auto;
    grid-template-areas:    'work-part-1'
                            'time-line-svg'
                            'work-part-2';
}

#work-part-1 {
    grid-area: work-part-1;
}

.work-card {
    height: 20vh;
    width: 35vw;
    background-color: $secondaryBackgroundColor;
    font-size: 1em;
    display: grid;
    grid-template-rows: 10% 10% 5% 10% 5% auto 10%;
    grid-template-areas:    '.'
                            'company-heading'
                            '.'
                            'company-position'
                            '.'
                            'company-experience'
                            '.';
}

.company-heading {
    grid-area: company-heading;
    @include center-content-vertically;
    margin: 1vw;
    color: $textColor;
}

.company-position {
    grid-area: company-position;
    @include center-content-vertically;
    margin-left: 1vw;
    color: $textColor;
}

.company-experience {
    grid-area: company-experience;
    overflow: auto;
    margin: 0vh 1vw;
    color: $secondaryTextColor;
}

#rimokon-card {
    position: relative;
    top: 25%;
    left: 5%;
    opacity: 0;
    transform: translateY(-10%);
    animation: work1-card-animation 0.5s 3.6s forwards;
}

#lookingbus-card {
    position: relative;
    top: -45%;
    left: 60%;
    opacity: 0;
    transform: translateY(-10%);
    animation: work1-card-animation 0.5s 5.6s forwards;
}

@keyframes work1-card-animation {
    100% {opacity: 1; transform: translateY(0%);}
}

#time-line-svg {
    grid-area: time-line-svg;
    @include center-content;
}

#timeline-horizontal {
    display: block;
}

#timeline-vertical {
    display: none;
}

#timeline {
    stroke-dasharray: 1500;
    stroke-dashoffset: 1500;
    animation: timeline-animation 4s linear forwards;
}

@keyframes timeline-animation {
    0% { stroke-dashoffset: 1500; }
    80% { stroke-dashoffset: 0;}
    100% { stroke-dashoffset: 0;  }
}

#Jun_2017 {
    opacity: 0;
    animation: year-animation 0.3s 3s linear forwards;
}

#Sept_2017 {
    opacity: 0;
    animation: year-animation 0.3s 3.3s linear forwards;
}

#Aug_2019 {
    opacity: 0;
    animation: year-animation 0.3s 3.6s linear forwards;
}

@keyframes year-animation {
    100% { opacity: 1; }
}

#work-part-2 {
    grid-area: work-part-2;
}

#ambii-card {
    position: relative;
    width: 45vw;
    top: 10%;
    left: 20%;
    opacity: 0;
    transform: translateY(10%);
    animation: work2-card-animation 0.5s 4.6s forwards; 
}

@keyframes work2-card-animation {
    100% {opacity: 1; transform: translateY(0%);}
}

@media only screen and (max-width: 1000px) {
    #work-document {
        grid-template-rows: 10% auto 15%;
    }

    #work-experience {
        grid-template-rows: auto;
        grid-template-columns: 37.5% 25% 37.5%;
        grid-template-areas:    'work-part-2 time-line-svg work-part-1';
    }
    
    #timeline-horizontal {
        display: none;
    }
    
    #timeline-vertical {
        display: block;
        height: 100%;
        transform: scale(1.1);
    }

    .work-card {
        height: 30%;
        width: 80%;
        grid-template-rows: 5% 5% 5% 5% 5% auto 5%;
    }

    .company-heading, .company-position, .company-experience {
        font-size: 0.5em;
    }

    .company-experience {
        line-height: 1.5em;
    }
    
    #rimokon-card {
        position: relative;
        top: 10%;
        left: 5%;
    }
    
    #lookingbus-card {
        position: relative;
        top: 35%;
        left: 5%;
    }
    
    #ambii-card {
        position: relative;
        top: 15%;
        left: 10%;
        height: 40%;
        width: 80%;
    }
}

@media only screen and (max-width: 300px) {
    #work-experience {
        grid-template-rows: auto;
        grid-template-columns: 37.5% 25% 37.5%;
        grid-template-areas:    'work-part-2 time-line-svg work-part-1';
    }
    
    #timeline-horizontal {
        display: none;
    }
    
    #timeline-vertical {
        display: block;
        height: 100%;
        transform: scale(1.1);
    }

    .work-card {
        height: 30%;
        width: 80%;
        grid-template-rows: 5% 5% 5% 5% 5% auto 5%;
    }

    .company-heading, .company-position, .company-experience {
        font-size: 0.3em;
    }
 
    #lookingbus-card {
        top: 25%;
    }
    
    #ambii-card {
        position: relative;
        top: 15%;
        left: 10%;
        height: 40%;
        width: 80%;
    }
}