<div class="document" id="work-document">
    <div id="work-heading">My Experience</div>
    <div id="bar"></div>
    <div id="work-information">
        <div class="work" id="rimokon" data-aos="fade-up">
            <div class="work-photo"><img id="rimokon-photo" src="../../assets/rimokon.png"></div>
            <div class="work-description">
                <div class="company-heading">Rimokon</div>
                <div class="company-duration">June 2017 - September 2017</div>
                <div class="company-position">Software Engineer Intern</div>
                <div class="company-work-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
            </div>
        </div>
        <div class="work" id="ambii"  data-aos="fade-up" data-aos-delay="500">
            <div class="work-photo"><img id="ambii-photo" src="../../assets/ambii.png"></div>
            <div class="work-description">
                <div class="company-heading">Ambii</div>
                <div class="company-duration">September 2017 - December 2018</div>
                <div class="company-position">Software Developer</div>
                <div class="company-work-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
            </div>
        </div>
        <div class="work" id="lookingbus"  data-aos="fade-up" data-aos-delay="1000">
            <div class="work-photo"><img id="lookingbus-photo" src="../../assets/lookingbus.png"></div>
            <div class="work-description">
                <div class="company-heading">LookingBus</div>
                <div class="company-duration">August 2019 - January 2020</div>
                <div class="company-position">iOS Mobile Developer</div>
                <div class="company-work-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
            </div>
        </div>
    </div>
</div>
