@import "../styles/color";
@import "../styles/layout";

#loading {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($backgroundColor, 1);
}

#loading-np {
    stroke-dasharray: 5000;
    stroke-dashoffset: 5000;
    animation: animation2-text-animation 10s linear forwards;
}

@keyframes animation2-text-animation {
    0% { stroke-dashoffset: 5000; }
    100% { stroke-dashoffset: 0;  }
}