<app-navigate></app-navigate>
<app-loading id="loading"></app-loading>
<div id="skill-document">
    <div id="skill-heading">My Skills</div>
    <div id="skill-content">
        <div id="skills-list-section">
            <div id="skills-list">
                <div id="skills-topics">
                    <div class="topic-button" id="html" (click) = "changeTab('html');">HTML</div>
                    <div class="topic-button" id="css" (click) = "changeTab('css');">CSS</div>
                    <div class="topic-button" id="javascript" (click) = "changeTab('javascript');">Javascript</div>
                    <div class="topic-button" id="angular" (click) = "changeTab('angular');">Angular</div>
                    <div class="topic-button" id="scsssass" (click) = "changeTab('scsssass');">SCSS/SASS</div>
                    <div class="topic-button" id="threejs" (click) = "changeTab('threejs');">Threejs</div>
                </div>
                <div id="skills-description">
                    <div id="skill-topic"></div>
                    <div id="skill-description"></div>
                </div>
            </div>
        </div>
        <div id="skills-cube-section">
            <div id="scene">
                <div id="cube">
                    <!-- front -->
                    <div class="cube__face" id= "html-cube-face">HTML</div>
                    <!-- left -->
                    <div class="cube__face" id= "css-cube-face">CSS</div>
                    <!-- back -->
                    <div class="cube__face" id= "javascript-cube-face">Javascript</div>
                    <!-- right -->
                    <div class="cube__face" id= "angular-cube-face">Angular</div>
                    <!-- top -->
                    <div class="cube__face" id= "scsssass-cube-face">SCSS/SASS</div>
                    <!-- bottom -->
                    <div class="cube__face" id= "threejs-cube-face">Three.js</div>
                </div>
            </div>
        </div>
    </div>
</div>
