<app-navigate></app-navigate>
<app-loading id="loading"></app-loading>
<div id="skill-document">
    <div id="skill-heading"><div id="document-title">My Projects</div><app-contact id="contact-me"></app-contact></div>
    <div id="skill-content">
        <div id="skills-list-section">
            <div id="skills-list">
                <div id="skills-topics">
                    <div class="topic-button" id="html" (click) = "changeTab('html');">HTML</div>
                    <div class="topic-button" id="css" (click) = "changeTab('css');">CSS</div>
                    <div class="topic-button" id="javascript" (click) = "changeTab('javascript');">Javascript</div>
                    <div class="topic-button" id="angular" (click) = "changeTab('angular');">Angular</div>
                    <div class="topic-button" id="scsssass" (click) = "changeTab('scsssass');">SCSS/SASS</div>
                    <div class="topic-button" id="threejs" (click) = "changeTab('threejs');">Threejs</div>
                </div>
                <div id="skills-description">
                    <div id="skill-topic"></div>
                    <div id="skill-description"></div>
                    <div id="skill-concepts"></div>
                </div>
            </div>
        </div>
        <div id="skills-cube-section">
            <div id="scene">
                <div id="cube">
                    <!-- front -->
                    <div class="cube__face" id= "html-cube-face">
                        <div class="cube-img"><img src="../../assets/html.png"></div>
                        <div class="cube-bar">
                            <div class="bar"><div id="html-bar"></div></div>
                        </div>
                        <div class="cube-percent">95%</div>
                    </div>
                    <!-- left -->
                    <div class="cube__face" id= "css-cube-face">
                        <div class="cube-img"><img src="../../assets/css.png"></div>
                        <div class="cube-bar">
                            <div class="bar"><div id="css-bar"></div></div>
                        </div>
                        <div class="cube-percent">95%</div>
                    </div>
                    <!-- back -->
                    <div class="cube__face" id= "javascript-cube-face">
                        <div class="cube-img"><img src="../../assets/javascript.png"></div>
                        <div class="cube-bar">
                            <div class="bar"><div id="javascript-bar"></div></div>
                        </div>
                        <div class="cube-percent">90%</div>
                    </div>
                    <!-- right -->
                    <div class="cube__face" id= "angular-cube-face">
                        <div class="cube-img"><img src="../../assets/angular.png"></div>
                        <div class="cube-bar">
                            <div class="bar"><div id="angular-bar"></div></div>
                        </div>
                        <div class="cube-percent">80%</div>
                    </div>
                    <!-- top -->
                    <div class="cube__face" id= "scsssass-cube-face">
                        <div class="cube-img"><img src="../../assets/sass.png"></div>
                        <div class="cube-bar">
                            <div class="bar"><div id="scsssass-bar"></div></div>
                        </div>
                        <div class="cube-percent">75%</div>
                    </div>
                    <!-- bottom -->
                    <div class="cube__face" id= "threejs-cube-face">
                        <div class="cube-img"><img src="../../assets/threejs.png"></div>
                        <div class="cube-bar">
                            <div class="bar"><div id="threejs-bar"></div></div>
                        </div>
                        <div class="cube-percent">40%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
