@import "../styles/color";
@import "../styles/layout";

#home-body {
    z-index: 1;
    display: grid;
    grid-template-rows: auto 5vh 2vh 10vh 1vh 0.2vh 1vh 5vh 3vh 5vh 35vh;
    grid-template-areas:    '.'
                            'hi'
                            '.'
                            'name'
                            '.'
                            'bar'
                            '.'
                            'job-position'
                            '.'
                            'meet-me'
                            '.';
}



.information {
    color: $textColor;
    margin-left: 15%;
    padding-top: 1vh;
}

#hi {
    grid-area: hi;
    font-size: 2em;
    margin-left: 15.5%;
    color: transparent;
    animation: top-hi-animation 0.5s 1s forwards ease-in;
}

#name {
    grid-area: name;
    font-size: 5em;
    color: transparent;
    animation: top-name-animation 0.5s 1s forwards ease-in;
}

#bar {
    grid-area: bar;
    border-top: 3px solid $color3;
    animation: bar-animation 1s forwards;
}

#job-position {
    grid-area: job-position;
    font-size: 1.5em;
    color: transparent;
    animation: bottom-information-animation 1s 2s forwards ease-in;
}

#meet-me {
    grid-area: meet-me;
}

#meet-button {
    color: transparent;
    background-color: transparent;
    padding: 10px 30px;
    border: 0px solid $color2;;
    animation: bottom-button-animation 1s 3s forwards ease-in;
}

#meet-button:hover {
    transform: scale(1.1);
}

@keyframes bar-animation {
    0% { width: 0vw; }
    100% { width: 70vw; }
}

@keyframes top-hi-animation {
    0% { transform: translateY(10vh); }
    100% { transform: translateY(0vh); color: $textColor; }
}

@keyframes top-name-animation {
    0% { transform: translateY(10vh); }
    100% { transform: translateY(0vh); color: $color2; }
}

@keyframes bottom-information-animation {
    0% { transform: translateY(-10vh); }
    75% { color: transparent; }
    100% { transform: translateY(0vh); color: $textColor;}
}

@keyframes bottom-button-animation {
    100% { 
        color: $textColor;
        border: 1px solid $color2;
    }
}

@media only screen and (max-width: 600px) {
    #hi {
        grid-area: hi;
        font-size: 2em;
    }
    
    #name {
        grid-area: name;
        font-size: 2em;
    }
    
    #position {
        grid-area: position;
        font-size: 1.5em;
    } 
}

@media only screen and (max-width: 400px) {
    
    .information {
        margin-left: 10%;
    }
}

@media only screen and (max-width: 300px) {
    
    .information {
        margin-left: 5%;
    }

    #hi {
        font-size: 1.7em;
    }
    
    #name {
        font-size: 1.7em;
    }
    
    #position {
        font-size: 1.3em;
    }
}

@media only screen and (max-width: 250px) {
    
    .information {
        margin-left: 5%;
    }

    #hi {
        font-size: 1.4em;
    }
    
    #name {
        font-size: 1.4em;
    }
    
    #position {
        font-size: 1em;
    }
}

// #sky-stars {
//     grid-area: sky-stars;
//     height: 100%;
//     width: 100%;
//     background-color: transparent;
// }

// #moon {
//     position: absolute;
//     top: 5vh;
//     left: calc(100vw - 170px);
//     height: 150px;
//     width: 170px;
//     z-index: 99;
// }

// #moon-img {
//     width: 100%;
//     height: 100%;
//     opacity: 0.8;
// }

// #cloud1 {
//     position: absolute;
//     top: 15vh;
//     left: -10vw;
//     height: 55vh;
//     width: 55vw;
//     z-index: 100;
//     opacity: 0.3;
//     animation: cloud1-animation 90s 2s forwards;
// }

// #cloud2 {
//     position: absolute;
//     top: 30vh;
//     left: 30vw;
//     z-index: 100;
//     opacity: 0.2;
//     animation: cloud2-animation 90s forwards;
// }

// #cloud3 {
//     position: absolute;
//     top: 10vh;
//     left: 90vw;
//     z-index: 100;
//     opacity: 0.5;
//     animation: cloud3-animation 120s forwards;
// }

// .span{
//     height: 5px;
//     width: 5px;

// }

// @keyframes cloud1-animation {
//     0%{ left: -10vw; }
//     100%{ left: 125vw; }
// }

// @keyframes cloud2-animation {
//     0%{ left: 30vw; }
//     100%{ left: 125vw; }
// }

// @keyframes cloud3-animation {
//     0%{ left: 90vw; }
//     100%{ left: -130vw; }
// }

// #mountains {
//     grid-area: mountains;
//     height: 100%;
//     width: 100%;
//     background-color: transparent;
//     background-image: url('../../assets/mountains.png');
//     background-repeat: no-repeat;
//     background-size: cover;
//     z-index: 99;
//     transform: translateY(130vh);
//     animation: mountains-animation 1s forwards;
// }

// @keyframes mountains-animation {
//     100% { transform: translateY(0vh); }
// }