@import "../styles/color";
@import "../styles/layout";

#navigation {
    @include center-content-vertically;
    height: 7vh;
    width: 100vw;
    position: fixed;
    z-index: 1000;
    background-color: $secondaryBackgroundColor;
}

#nav-bar {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 5vw 15vw 15vw 15vw 15vw 15vw 15vw 5vw;
    grid-template-areas: '. home-tab about-tab skills-tab work-tab projects-tab contact-tab .';
}

.nav-button {
    color: $secondaryTextColor;
    font-family: 'Source Code Pro', monospace;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.icon {
    text-decoration: none;
    color: $secondaryTextColor;
    transform: translateY(50%);
    text-align: center;
    z-index: 1;
    opacity: 1;
    transition: all 0.5s ease;
}

.icon-name {
    text-decoration: none;
    color: $secondaryTextColor;
    transform: translateY(-50%);
    text-align: center;
    z-index: 0;
    opacity: 0;
    transition: all 0.5s ease;
}

.nav-button:hover {
    background-color: rgba($backgroundColor, 0.5);
}

.nav-button:hover .icon {
    color: $textColor;
    opacity: 0;
}

.nav-button:hover .icon-name {
    color: $textColor;
    opacity: 1;
}

#home-tab {
    grid-area: home-tab;
}

#about-tab {
    grid-area: about-tab;
}

#skills-tab {
    grid-area: skills-tab;
}

#work-tab {
    grid-area: work-tab;
}

#projects-tab {
    grid-area: projects-tab;
}

#contact-tab {
    grid-area: contact-tab;
}