<div id="navigation">
    <div id="nav-bar">
        <div class="nav-button" id="home-tab"><a href=""><div class="icon"><mat-icon>home</mat-icon></div><div class="icon-name">Home</div></a></div>
        <div class="nav-button" id="about-tab"><a href="about"><div class="icon"><mat-icon>person</mat-icon></div><div class="icon-name">About</div></a></div>
        <div class="nav-button" id="skills-tab"><a href="skill"><div class="icon"><mat-icon>psychology</mat-icon></div><div class="icon-name">Skills</div></a></div>
        <div class="nav-button" id="work-tab"><a href="work"><div class="icon"><mat-icon>work</mat-icon></div><div class="icon-name">Work</div></a></div>
        <div class="nav-button" id="projects-tab"><a href="projects"><div class="icon"><mat-icon>code</mat-icon></div><div class="icon-name">Projects</div></a></div>
        <div class="nav-button" id="contact-tab"><a href="contact"><div class="icon"><mat-icon>mail</mat-icon></div><div class="icon-name">Contact</div></a></div>
    </div>
</div>
