<div id="navigation">
    <div id="nav-bar">
        <div class="nav-button" id="home"><a href=""><mat-icon>home</mat-icon></a></div>
        <div class="nav-button" id="about"><a href="about"><mat-icon>person</mat-icon></a></div>
        <div class="nav-button" id="skills"><a href="skill"><mat-icon>psychology</mat-icon></a></div>
        <div class="nav-button" id="work"><a href="work"><mat-icon>work</mat-icon></a></div>
        <div class="nav-button" id="projects"><a href="projects"><mat-icon>code</mat-icon></a></div>
        <div class="nav-button" id="contact"><a href="contact"><mat-icon>mail</mat-icon></a></div>
    </div>
</div>
