@import "../styles/color";
@import "../styles/layout";

#navigation {
    @include center-content-vertically;
    height: 7vh;
    width: 100vw;
    position: fixed;
    z-index: 1000;
    background-color: $secondaryBackgroundColor;
}

#nav-bar {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 5vw 15vw 15vw 15vw 15vw 15vw 15vw 5vw;
    grid-template-areas: '. home about skills work projects contact .';
}

.nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease-in;
}

a {
    color: $secondaryTextColor;
    text-decoration: none;
}

#home {
    grid-area: home;
}

#home:hover::after {
    content: 'Home';
    color: $textColor;
}

#about {
    grid-area: about;
}

#about:hover::after {
    content: 'About';
    color: $textColor;
}

#skills {
    grid-area: skills;
}

#skills:hover::after {
    content: 'Skills';
    color: $textColor;
}

#work {
    grid-area: work;
}

#work:hover::after {
    content: 'Work';
    color: $textColor;
}

#projects {
    grid-area: projects;
}

#projects:hover::after {
    content: 'Projects';
    color: $textColor;
}

#contact {
    grid-area: contact;
}

#contact:hover::after {
    content: 'Contact';
    color: $textColor;
}

#home:hover mat-icon, #about:hover mat-icon, #skills:hover mat-icon, #work:hover mat-icon, #projects:hover mat-icon, #contact:hover mat-icon {
    display: none;
}

#home:hover, #about:hover, #skills:hover, #work:hover, #projects:hover, #contact:hover {
    background-color: rgba($backgroundColor, 0.5);
}

mat-icon {
    font-size: 2em;
}

mat-icon:hover {
    color: $textColor;
}

@media only screen and (max-width: 350px) {
    #nav-bar {
        grid-template-columns: 16.6vw 16.6vw 16.6vw 16.6vw 16.6vw 16.6vw;
        grid-template-areas: 'home about skills work projects contact';
    }
}