@import "../styles/color";
@import "../styles/layout";

#navigation {
    @include center-content-vertically;
    height: 7vh;
    width: 100vw;
    position: fixed;
    z-index: 1000;
    background-color: $secondaryBackgroundColor;
}

#nav-bar {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 5vw 15vw 15vw 15vw 15vw 15vw 15vw 5vw;
    grid-template-areas: '. home about skills work projects contact .';
}

.nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: $secondaryTextColor;
    text-decoration: none;
}

#home {
    grid-area: home;
}

#about {
    grid-area: about;
}

#skills {
    grid-area: skills;
}

#work {
    grid-area: work;
}

#projects {
    grid-area: projects;
}

#contact {
    grid-area: contact;
}

mat-icon {
    font-size: 2em;
}

mat-icon:hover {
    color: $textColor;
}

@media only screen and (max-width: 350px) {
    #nav-bar {
        grid-template-columns: 16.6vw 16.6vw 16.6vw 16.6vw 16.6vw 16.6vw;
        grid-template-areas: 'home about skills work projects contact';
    }
}